@import "tailwindcss";

@theme {
  --color-twitter-blue: #1da1f2;
  --font-primary: "Titillium Web", serif;
  --color-primary: #a09fa0;
  --color-secondary: #cb6e17;
  --color-bg: #222222;
  --color-nav: #252729;
  --color-footer: #102a43;
}

body {
  font-family: var(--font-primary);
  background-color: var(--color-bg);
  color: var(--color-primary);
}
/* #102A43 - nav
#FDFDFD - body
#4A4A67 - primary
#4B4A4A -iconbg
#222222- header
#CB6E17 - onratechange, sec
#102A43- footer */
