@import "tailwindcss";

@theme {
  --color-twitter-blue: #1da1f2;
  --font-primary: "Titillium Web", serif;
  --color-head: #000000;
  --color-primary: #0038df;
  --color-primary-dark: #000b33;
  --color-light-primary: #4d74ff;
  --color-primary-very-light: #5076ff;
  --color-secondary: #cb6e17;
  --color-text: #74879a;
  --color-icon: #95f001;
  --color-footer: #102a43;
  --color-alpha: #378cb3;
  /* --font-lg: 18px;
  --font-large: 24px;
  --font-sm: 16px; */
}

body {
  font-family: var(--font-primary);
  color: var(--color-text);
  width: 95%;
  margin: 0 auto;
}

/* #102A43 - nav
#FDFDFD - body
#4A4A67 - primary
#4B4A4A -iconbg
#222222- header
#CB6E17 - onratechange, sec
#102A43- footer */
/* text-base lg:text-lg */
/* #0038DF  pri
#000B33- dar pri
#4D74FF- light pri
#FF4D94- pink
#95F001 - icon
#95F001
#74879A - text */
/* font- 18px small text, large 24px

16px-small screen */
