@keyframes scroll-up {
  from {
    transform: translateY(100%);
  }
  to {
    transform: translateY(-100%);
  }
}

@keyframes scroll-down {
  from {
    transform: translateY(-100%);
  }
  to {
    transform: translateY(100%);
  }
}

.scroll-up {
  animation: scroll-up 10s linear infinite;
}

.scroll-down {
  animation: scroll-down 10s linear infinite;
}

@keyframes pulseZoom {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.05);
  }
  100% {
    transform: scale(1);
  }
}

.animate-pulseZoom {
  animation: pulseZoom 3s ease-in-out infinite;
}

